body {
  background-color: #355c7d;
  background-size: cover;
  padding: 25px;
  font-size: 150%;
  color: #FFFFFF;
}
h1, h2, h3 {
  font-family: 'Lobster', cursive;
}
p{
font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
