body {
    background-image: linear-gradient(#29c5f6,#1260cc);
    background-size: cover;
    font-family: 'Gwendolyn', cursive;
    font-family: 'Supermercado One', cursive;
    padding: 25px;
    font-size: 120%;
    color: #FFFFFF;
}
#content {
    padding: 25px;
    background-color: #4adede;
    border: solid 5px #0088bc;
    height:auto;
    width: 30%;
    border-radius: 25px;

}
